
.flexBook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px ;
}
.flexBook p{
    font-size:clamp(17px,3vw,28px);
    font-weight: bold;
}
.flexBook p:first-child{
    color: #E99239;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #6C757D;
}

/* -------- Cards -------- */

.cardStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px ;
    margin: auto;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
@media (max-width: 400px) {
    .cardStyle{
        flex-direction: column-reverse;
    }
}
@media (min-width: 701px) {
    .cardStyle{
        height: 400px;
    }
    .textStyle{
        padding: 20px;
    }
    .imgStyle{
        padding:0 10px 0 0 ;
    }
}
@media (min-width: 1100px) {
    .imgStyle{
        padding:0 10px 0 0 ;
    }
}

.textStyle{
    text-align: end;
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    min-height: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgStyle{
    min-width: 150px;
    max-width: 250px;
}
/* icon ⭐ */
.star{
    color: #FFCE08;
}
/* button */
.btnStyleAllBook {
  background-color: #E99239;
  color: #fff;
  border: none;
  padding-inline: 10px;
  border-radius: 5px;
}
.btnStyleAllBook:hover,
.btnStyleAllBook:active{
  background-color: #cf7a2c !important;
  color: #fff !important;
}

/* -------- Arrows -------- */

/* Arrow next 👉 → */
.nextArrowDiv{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 105%;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    z-index: 5;
}
.nextArrowDiv:hover{
    background-color: #000 !important;
}

/* Arrow prev 👈 ← */
.prevArrowDiv{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80%;
    top: 105%;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    z-index: 5;
}
.prevArrowDiv:hover{
    background-color: #000 !important;
}

