
.banner{
    background-image: url(../../assets/img/08e51425dd65f5a15e0d0ac763b5e492150ddd51.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.textD{
    direction: rtl;
    color: #fff;
    padding: 10px;
}
.textD p{
    font-size: clamp(14px,2vw,24px);
    font-weight: bold;
    line-height: 30px;
}
.textD button{
    background-color: #E99239;
    color: #fff;
    border: none;
    width: clamp(150px,2vw,24px);
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
}
.textD button:hover,
.textD button:active{
    background-color:#e38424 !important;
    color: #fff !important;
}


/* image */
.book1{
    margin:20px 0 0 200px;
    width: 40%;
    height: 240px;
    z-index: 1;
}
.book2{
    /* transform: translateX(-70px); */
    margin:20px 60px 0 0;
    width: 60%;
    height: 290px;
    z-index: 2;
}
.book3{
    /* transform: translateX(-130px); */
    margin:40px 140px 0 0;
    max-width: 290px;
    /* min-width: 58%; */
    height: 330px;
    z-index: 3;
}

